#cloud-config

apt:
  sources:
    docker.list:
      source: deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable
      keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg-agent
  - software-properties-common
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - awscli

# Enable ipv4 forwarding, required on CIS hardened machines
write_files:
  - path: /etc/sysctl.d/enabled_ipv4_forwarding.conf
    content: |
      net.ipv4.conf.all.forwarding=1

# create the docker group
groups:
  - docker

# Add default auto created user to docker group
system_info:
  default_user:
    groups: [docker]
    ssh_authorized_keys:
     - "${gen_key}"

write_files:

  - path: /opt/backup.sh
    permissions: '0755'
    content: |
      #! /bin/bash

      for dir in ${save_dirs};
      do
        /usr/bin/aws s3 cp /data/$dir s3://game-files-maximumpigs/${environment}/${game}/$dir --recursive;
      done

      for file in ${save_files};
      do
        /usr/bin/aws s3 cp /data/$file s3://game-files-maximumpigs/${environment}/${game}/$file;
      done

  - path: /etc/crontab
    content: |
      0 */3 * * * ubuntu /usr/bin/docker restart palworld 2>/dev/null
      */10 * * * * ubuntu /opt/backup.sh
    append: true

runcmd:
  - mkdir /data
  - /usr/bin/aws s3 sync s3://game-files-maximumpigs/${environment}/${game}/ /data/
  - chown root:docker /data --recursive
  - chown root:ubuntu /opt/backup.sh
  - dd if=/dev/zero of=/swapfile0 bs=1024 count=$( expr ${swap_size} \* 1024 \* 1024 )
  - chmod 600 /swapfile0
  - mkswap /swapfile0
  - swapon /swapfile0